{% extends 'base.html' %}

{% block meta %}
<title>Tambah Task Baru</title>
{% endblock meta %}

{% block content %}

<body>

    <nav class="navbar navbar-expand-md navbar-dark px-3 nav-colors justify-content-between">
        <span class="navbar-brand page-title"> <span style="font-weight: bold;">{{current_user}}</span>'s To-Do List </span>
        <a href="{% url 'todolist:logout' %}"><button class="btn btn-common">Logout</button></a>
    </nav>

    <div class="container div-form form-size-adjust my-5">
        <form method="POST">
            {% csrf_token %}
            <div class="form-group mt-4 mb-3">
                <h1 style="text-align: center;">Tambah Task Baru</h1>
            </div>
            <div class="form-group my-3">
                <label>Title</label>
                <input class="form-control" type="text" name="title" placeholder="Title" autofocus required>
            </div>
            <div class="form-group mt-3">
                <label>Description</label>
                <textarea class="form-control" name="description" placeholder="Description" rows="4"></textarea>
            </div>
            <div class="form-group text-center mt-4 mb-3">
                <button class="btn btn-common" type="submit" name="submit">Tambah Task</button>
            </div>
        </form>

        {% if messages %}
            {% for message in messages %}
                <p class="form-notification">{{ message }}</p>
            {% endfor %}
        {% endif %} 

        <div class="mt-4 mb-2">
            <p style="text-align: center; font-size: 12px;">
                Berubah pikiran? <a style="font-size: 18px; color:white; font-weight: bold;" href="{% url 'todolist:show_todolist' %}">Cancel Task</a>
            </p>
        </div>
    </div>

    <nav class="navbar fixed-bottom navbar-dark px-3 nav-colors" style="border: 0;">
        <span style="color: white;">© Feru Pratama Kartajaya - 2106750351 </span>
    </nav>

</body>

{% endblock content %}