{% extends 'base.html' %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}

<div class="div-title">

    <h1 class="h-center">Tugas 4 PBP/PBD: Form and Authentication</h1>
    <h2 class="h-center">To-Do List</h2>
    
</div>

<div class="div-form">
    <h1 class="h-center">Login</h1>

    <form method="POST">
        {% csrf_token %}
        <table class="table-login">
            <tr>
                <td>Username </td>
                <td><input type="text" name="username" placeholder="Username" autofocus></td>
            </tr>
                    
            <tr>
                <td>Password </td>
                <td><input type="password" name="password" placeholder="Password"></td>
            </tr>
            <tr style="height: 20px;"></tr>
            <tr>
                <td colspan="2"><input class="btn-common" type="submit" value="Login"></td>
            </tr>
        </table>
    </form>

    {% if messages %}
        {% for message in messages %}
            <p class="form-notification">{{ message }}</p>
        {% endfor %}
    {% endif %}     
        
    <p style="text-align: center; font-size: 16px;">
        Belum punya akun? <a style="font-size: 24px; color:white; font-weight: bold;" href="{% url 'todolist:register' %}">Buat Akun</a>
    </p>

</div>
<div class="div-footer">
    <p>Feru Pratama Kartajaya - 2106750351</p>
</div>
{% endblock content %}