{% extends 'base.html' %}

{% block meta %}
<title>{{current_user}}'s To-Do List</title>
{% endblock meta %}

{% block content %}

<body>

    <nav class="navbar navbar-expand-md navbar-dark px-3 nav-colors justify-content-between">
        <span class="navbar-brand page-title"> <span style="font-weight: bold;">{{current_user}}</span>'s To-Do List </span>
        <a href="{% url 'todolist:logout' %}"><button class="btn btn-common">Logout</button></a>
    </nav>

    <div class="my-4">
        {% if messages %}
            {% for message in messages %}
                <p class="form-notification">{{ message }}</p>
            {% endfor %}
        {% endif %} 
    </div>

    <div class="d-flex justify-content-center mt-4 mb-5" style="flex-wrap: wrap; ">
        {% for task in task_list %}

        <div class="card mx-3 my-3 card-size-adjust card-task">
            <div class="card-header">
                <span style="font-size: 24px;">{{task.title}}</span>
                <span style="font-size: 16px; float: right; color: rgba(0, 0, 0, 0.5)">{{forloop.counter}}</span>
            </div>
            <div class="card-body">
                Deskripsi: {{task.description}}<br>
                Dibuat Tanggal: {{task.date}}<br>
                Status: 
                {% if task.is_finished %}
                    <span>✔️ Selesai</span>
                {% else %}
                    <span>❌ Belum Selesai</span>
                {% endif %}
            </div>
            <div class="card-footer d-flex flex-row justify-content-center" style="gap: 10px;">
                <span class="hint">Change Status</span>
                <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{task.pk}}">
                    {% if task.is_finished %}
                        <input type="hidden" name="update_task" value="not_done">
                    {% else %}
                        <input type="hidden" name="update_task" value="done">
                    {% endif %}
                    <button class="btn btn-change" type="submit" name="submit">⇄</button>
                </form>
                <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{task.pk}}">
                    <input type="hidden" name="delete_task" value="delete">
                    <button class="btn btn-delete" type="submit" name="submit">❌</button>
                </form>
                <span class="hint">Delete Task</span>
            </div>
        </div>
    
        {% endfor %}

        <div class="card mx-3 my-3 card-size-adjust card-create" style="min-height: 200px;">
            <div class="card-body d-flex align-items-center justify-content-center">
                <span style="font-size: 36px; text-align: center;">Tambah Task Baru</span>
            </div>
            <a href="{% url 'todolist:create_task' %}" class="stretched-link"></a>
        </div>

    </div>

    <nav class="navbar fixed-bottom navbar-dark px-3 nav-colors" style="border: 0;">
        <span style="color: white;">© Feru Pratama Kartajaya - 2106750351 </span>
    </nav>
    
</body>

{% endblock content %}